RewriteEngine On

# Bloquear resources exceto resources/build
RewriteCond $1 !^(resources/build)
RewriteRule ^resources(/.*)?$ - [F]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]